.stats {
    padding: 15px;
}

.header{
    font-weight: bold;
}

.row {
    display: flex;
}
.row div{
    min-width: 60px;
}

.row .dash{
    min-width: 10px !important;
}


.row div + div {
    margin-left: 5px;
}

.info {
    margin-top: 20px;
}